.grid-container {
  border: 2px dotted orange;
  height: 400px;
  display: grid;
  grid-template-columns: [col-line-1] 20% [col-line-2] 1fr [col-line-3];
  grid-template-rows: [row-line-1] auto [row-line-2] 1fr [row-line-3];
  grid-template-areas:
    "header header"
    "sidebar main";
  gap: 20px 20px;
}

.header {
  border: 2px solid blue;
  grid-area: header;
}

.sidebar {
  border: 2px solid red;
  grid-area: sidebar;
}

.main {
  border: 2px solid purple;
  grid-area: main;
}

header  {
  background-color: #f4f4f6;

}